asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==3.2.1
django-extensions==3.2.3
django-sqlformatter==1.0.3
mysqlclient==1.4.3
Pygments==2.15.1
PyMySQL==1.0.3
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.6.3
